
#fii-list-investiment
{
    margin-bottom: 1em;
}
#fii-list-investiment span
{
    width: max-content;
}
#fii-sigla
{
    background-color: black;
    padding: 3px;
    border-radius: 5px;

    color: whitesmoke;
}
#fii-name
{
    font-size: medium;

    color: darkslategray;
}
#fii-value
{
    font-size: larger;
}
#fii-gain
{
    word-break: keep-all;
}