
#fii-list-investiment
{
    margin-bottom: 1em;
}
#sigla-name-container
{
    height: 2em;
}
#fii-sigla
{
    background-color: black;
    padding: 3px;
    border-radius: 5px;

    color: whitesmoke;
}
#fii-name
{
    font-size: small;
    color: darkslategray;
}
#fii-value
{
    font-size: small;
}
#fii-gain
{
    font-size: small;
    word-break: keep-all;
}
#fii-quantity
{
    font-size: small;
}

.top-label-investiment
{
    padding: 0.3em;
    border: 0.7px solid gray;
    border-radius: 5px;
}
.top-label-investiment:active
{
    background-color: #1492f8;
    color: white;
}