
body header 
{
    top: 30px;
    padding: 0 10px 0 10px;
    width: fit-content;

    animation: appear-top 500ms forwards; 
    will-change: opacity;
    
    gap: 3%;
    
    /* background-color: var(--header-dark-charcoal); */
    background-color: #1492f8e8;
    backdrop-filter: blur(4px);

    border-radius: 15px;
    z-index: 5;
}

body header a
{
    padding: 15px 10px 15px 10px;
    border-radius: 15px;
    transition: 500ms;
}
body header a:hover
{
    background-color: #007de4;
}

@media (max-width: 600px)
{

}