

.modal
{
    top: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    /* display: flex; */
    justify-content: center;

    position: fixed;
    z-index: 5;

    background: rgba(128, 128, 128, 0.377);
}
.form-container
{
    background-color: #1492f8;
}