
#news-card-container
{
    position: relative;
    
    display: flex;
    gap: 5%;
}

.news-card
{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 300px;
}
.news-card a
{
    font-size: large;
    text-align: justify;
}
.news-card a:hover
{

    text-decoration: underline;
}
.news-card img
{
    object-fit: cover;
    width: 100%;
}
#author
{
    position: absolute;
    bottom: 0;
}


@media (max-width:800px) {
    
    .news-card
    {
        height: 250px;
    }
    .news-card a
    {
        font-size: small;
    }

}