<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividends</title>

    <link rel="stylesheet" href="../../styles/main.css">
</head>
<body id="home" class="height-100vh">

    <br>
    <section id="settings" class="width-80p margin-auto">
       <div class="display-flex flex-direction-column gap-1">
            <!-- <a href="./src/views/calculadora/index.html" class="action-box border-radius-10 padding-2 color-white bg-primary text-center">
                <span>Calculadora de Dividendos</span>
            </a>
            <a href="#reports" class="action-box border-radius-10 padding-2 color-white bg-secondary text-center">
                <span>Relatórios</span>
            </a> -->
            <a href="#signout" class="action-box border-radius-10 padding-2 color-white bg-tertiary text-center" onclick="signOut()">
                <span>Sair</span>
            </a>
        </div>
    </section>

    <script src="../../js/features/Crud.js"></script>
    <script src="../../js/features/Logon.js"></script>
</body>
</html>