
.input-field 
{
    flex-grow: 1;
    flex-basis: 215px;
}

#calculator #calculator-container
{
    background-color: rgba(128, 128, 128, 0.174);
    border-radius: 12px;
    /* border: 0.7px solid black; */
}
#calculator .calculator-container input[type="number"]
{
    max-width: 300px;
    padding: 10px;

    border: 0.7px solid gray;
    border-radius: 15px;   
}


.calculator-instance {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 4px;
}

#addCalculator, #calculateAll {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#calculateAll 
{
    background-color: #28a745;
}

#final-report {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 4px;
}

