<!DOCTYPE html>
<html lang="pt-br" class="dark-mode">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dividends</title>

    <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body id="home" class="height-100p">
    <div class="margin-top-3"></div>

    <section id="news" class="width-80p margin-auto">
      <h2 class="">Noticias</h2>
      <br />
      <div id="news-card-container">
        <div class="news-card">
          <div>
            <picture>
              <img src="../../assets/image.png" alt="" />
            </picture>
            <a id="resume">
              FIIs de shoppings brilham em 2025: veja retorno de quem investiu
              R$ 100 mil no setor
            </a>
          </div>
          <div id="author-container"><span id="author">lopes, vitor</span></div>
        </div>

        <div class="news-card">
          <div>
            <picture>
              <img src="../../assets/image.png" alt="" />
            </picture>
            <a id="resume">
              FIIs de shoppings brilham em 2025: veja retorno de quem investiu
              R$ 100 mil no setor
            </a>
          </div>
          <div id="author-container"><span id="author">lopes, vitor</span></div>
        </div>

        <div class="news-card">
          <div>
            <picture>
              <img src="../../assets/image.png" alt="" />
            </picture>
            <a id="resume">
              FIIs de shoppings brilham em 2025: veja retorno de quem investiu
              R$ 100 mil no setor
            </a>
          </div>
          <div id="author-container"><span id="author">lopes, vitor</span></div>
        </div>
      </div>
    </section>

    <br />
    <hr class="width-80p margin-auto" />
    <br />

    <section id="about" class="width-80p margin-auto">
      <h2>Sobre</h2>
      <br />

      <div id="about-container" class="">
        <p>
          Fundos Imobiliários (FIIs) são uma forma de investimento coletivo em
          que o dinheiro de diversos investidores é aplicado em ativos do
          mercado imobiliário. Ao comprar cotas de um FII, o investidor se torna
          um "condômino", recebendo rendimentos proporcionais aos lucros gerados
          pelo fundo.
        </p>
        <br />
        <h3>Como funciona</h3>
        <ul id="how-work" class="margin-top-1">
          <li class="margin-bottom-1">
            Captação de recursos: Uma gestora cria o fundo, divide-o em cotas e
            as vende na Bolsa de Valores.
          </li>
          <li class="margin-bottom-1">
            Investimento: Com o dinheiro dos cotistas, o fundo investe em
            empreendimentos imobiliários, como shoppings, edifícios comerciais,
            hospitais, ou títulos de dívida imobiliária (CRIs, LCIs).
          </li>

          <li class="margin-bottom-1">
            Geração de renda: O fundo obtém lucro com a exploração dos imóveis
            (aluguéis, arrendamentos) ou com os juros dos títulos que possui.
          </li>

          <li class="margin-bottom-1">
            Distribuição de lucros: A maior parte do lucro líquido é distribuída
            periodicamente aos cotistas, geralmente de forma mensal
          </li>
        </ul>
      </div>
    </section>

    <header
      class="flex-center-items sticky margin-auto child-links-text-decoration-none child-color-white"
    >
      <a href="../../../index.html#home">Home</a>
      <a href="../../../index.html#noticias">Artigos</a>
      <a href="../../../index.html#about">Sobre</a>
      <a href="../../../index.html#calculator">Mais</a>
    </header>

    <script src="../../js/features/theme.js"></script>
    <script>
      verifyTheme();
    </script>
  </body>
</html>
